body{
    font-family: sans-serif;
    background-color: #2D8652;
}

h1{
    font-size: 300%;
}

p{
    font-size: 150%;
}

p.blanco{
    color: #FFFCF7;
    font-style: oblique;
    font-family: serif;
   

}

p.carne{
    color: #F5D3A2;
    
}

p.naranja{
    color: #FF9F1A;
    font-family: monospace;
    font-size: 200%;
    
}

p.rojo{
    color: #DA1A4D;
    font-family: "Comic Sans MS", cursive, sans-serif;
}